.feature {
    padding: 0;
    margin-block-start: 6.5rem;
    
    .feature__container {

        .grid__list {
            place-items: center;
            grid-template-columns: repeat(4, 1fr);

            li {

                .feature__card {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;

                    .card__icon {
                        width: 60px;
                        flex-shrink: 0;
                    }

                    &:hover {

                        .card__icon {
                            animation: shake .5s $cubic-anim both;
                        }
                    }

                    div {

                        .card__title {
                            font-family: $font-logo;
                            margin-block-end: .3rem;
                            font-size: 1.7rem;
                            color: $bg-3;
                        }
                    }
                }

                @keyframes shake {
                    0%, 100% {
                        transform: rotate(0);
                        transform-origin: 50% 50%;
                    }
                    10%, 90% {
                        transform: rotate(4deg);
                    }
                    20%, 40%, 60% {
                        transform: rotate(-6deg);
                    }
                    30%, 50%, 70% {
                        transform: rotate(6deg);
                    }
                    80% {
                        transform: rotate(-4deg);
                    }
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .feature {
        
        .feature__container {
    
            .grid__list {
    
                li {
    
                    .feature__card {
    
                        .card__icon {
                            width: 50px;
                        }
    
                        div {
    
                            .card__title {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .feature {
        padding: 0 2rem;
        margin-block-start: 5rem;
        
        .feature__container {
    
            .grid__list {
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;
    
                li {
    
                    .feature__card {
    
                        .card__icon {
                            width: 100px;
                            border-radius: .5rem;
                            padding: 1rem;
                            box-shadow: $shadow-2;
                            background: $bg-4;
                        }
    
                        div {
    
                            .card__title {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}