.footer {
    box-shadow: $shadow;
    margin-block-start: 7rem;

    .container {

        .footer__container {
            align-items: flex-start;
            justify-content: space-between;

            .footer__top {
                margin-block-end: 2rem;

                .logo {
                    align-items: center;
                    justify-content: left;
                    gap: .5rem;
    
                    .logo__image {
                        width: 3rem;
                        filter: brightness(1.2);
                    }
    
                    .logo__name {
                        font-family: $font-logo;
                        font-size: 2rem;
                        text-transform: capitalize;
                        color: $bg-4;
                    }
                }
            }

            .footer__content {
                align-items: flex-start;
                justify-content: center;
                gap: 7rem;

                div {

                    .footer__title {
                        font-family: $font-logo;
                        color: $brown-color;
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                        margin-block-end: 1rem;
                    }

                    .footer__links {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        gap: .7rem;

                        li {

                            a {
                                color: $brown-color;
                                font-weight: 200;
                                transition: $transition-1;

                                &:hover {
                                    color: $bg-4;
                                }
                            }
                        }
                    }
                }

                .footer__social {
                    align-items: center;
                    gap: 1.2rem;

                    li {

                        a {
                            font-size: 1.5rem;
                            color: $brown-color;
                            transition: $transition-1;

                            &:hover {
                                color: $bg-4;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .footer {
        margin-block-start: 5rem;
    
        .container {
    
            .footer__container {
                align-items: center;
                justify-content: center;
                flex-direction: column;
    
                .footer__content {
                    gap: 5rem;
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 768px) {
    .footer {
        
        .container {
    
            .footer__container {
                align-items: flex-start;
                flex-direction: column;
    
                .footer__content {
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 2rem;
    
                    .footer__social {
                        gap: 1.5rem;
                    }
                }
            }
        }
    }

}