/*==========Base==========*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}
body {
    color: $white-color;
    background: $gradiente-5;
    height: 300rem;

    &::-webkit-scrollbar {
        width: .6rem;
      }
    &::-webkit-scrollbar-track {
        background: $gradiente-5;
      }
    &::-webkit-scrollbar-thumb {
        background: $bg-2;
      }
}
.section {
    padding: 3rem 0;
}
.container {
    padding: 0 10rem;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
}
img {
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4 {
    font-size: 1.4rem;
}
p, a, span, small, sub, sup {
    font-size: 1.1rem;
}
  
  
/*==========Media Query==========*/
@media (max-width: 1024px) {
    html {
        scroll-padding-top: 4.5rem;
    }
    .section {
        padding: 1rem 0;
    }
    .container {
        padding: 0 1rem;
    }
    h1, h2, h3, h4 {
        font-size: 1.2rem;
    }
    p, a, span, small, sub, sup {
        font-size: 1rem;
    }
    
}
  